/*MAIN DASHBOARD*/

div.flexdisplay{
  display: flex;
  justify-content: space-between;
}


div.bg{
  background-image: url("/images/dashboardbg2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


/*buttons*/

#createuser{
  position: absolute;1§
  top: 70px;
  margin-left: 20px;
  text-decoration: none;
}

#createuser:hover{
  background-color: #3c5594;
}


#backtodashboard{
  position: absolute;
  top: 70px;
  margin-left: 20px;
  text-decoration: none;
  padding: 5px 10px;
}

#backtodashboard2{
  position: absolute;
  top: 70px;
  margin-left: 20px;
  text-decoration: none;
  padding: 5px 10px;
}

#backtodashboard2:hover{
  background-color: #3c5594;
}


/*admin: searchBar*/

#form_submit.btn-primary.btn{
  padding: 5px 15px;
  margin-bottom: 5px;
}

#form_submit.btn-primary.btn:hover{
  background-color: #3c5594;
}

select#form_department.form-control,
select#form_roles.form-control,
input#form_firstname.form-control,
input#form_lastname.form-control {
  max-width: 150px;
  margin: 5px 10px;
}

#inline_block{
  background-color: #c9d2dd;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li.inline{
  display: inline-block;
  font-size: 15px;
  width: 120px;
  padding: 10px;
  margin: auto;
  text-align: center;
}


/*admin: create new user*/
div.form-group{
/**/
}

h5.h5style{
  margin-top: 10px;
  text-align: center;
}

div.form-group #user_form_submit{
  margin: 0 auto;
  text-align: center;
}

#user_form_submit:hover{
  background-color: #3c5594;
}

#createdContainer {
  margin: 15px auto;
}

/* admin: usesrlist */
#username_click{
  text-decoration: none;
  color: #3c5594;
}
#username_click:hover{
  color: #1faac2;
}




/* admin showuserlist */
#userlisttable{
  margin: 30px 20px;
}

#showuserlist{
  margin: 70px 20px;
}

div.userchange{
  margin: auto;
  text-align: center;
}

#updateuser, #deleteuser{
  background-color: #2e2e3e;
  border-radius: 0.25em;
  color: #eeeeee;
  padding: 10px 25px;
  margin: 10px 10px;
  font-weight: 900;
  text-decoration: NONE;

}

#updateuser:hover, #deleteuser:hover{
  background-color: #3c5594;
}

/*manager/user: Holidayrequest - createHoliday*/
#holiday_form_submit:hover{
  background-color: #3c5594;
}

.dashboardcontainer{
  margin: 5px 10px;
}

/*manager/user: testcalendar */


/*manager: listPending*/
a.btn-primary{
  text-decoration: none;
}

a.btn-primary:hover{
  background-color: #3c5594;
}

div.pendingRow {
  margin: 0 auto;
  text-align: center;
}

#listPending {
  list-style-type: none;
}

#requestUser {
  font-weight: 1200;
  color: #1faac2;
}

span.accept,
span.refuse {
  color: #fff;
  background-color: #2e2e3e;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 3px;
}

span.accept:hover,
span.refuse:hover {
  background-color: #3c5594;
}

div.holidayInfoContainer{
  margin: 0 auto;
  text-align: center;
}
