html,body{
margin:0;
height: 100%;
}

#sfwdta2c666{
  display: none;
}

.bg {
  background-image: url("/images/loginbackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  border: 2px solid #fffefc;
  background-color:#fffefc;
  border-radius: 5px;
  max-width: 400px;
  margin:auto;
  padding: 30px 15px;
  text-align: center;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.h5style{
  padding-top: 10px;
}

#form_submit.btn-primary.btn{
  border-color: none;
}

#form_submit.btn-primary.btn:hover{
  border-color: none;
  background-color: #3c5594;
}

#restore_password_form_Reset.btn-primary.btn:hover{
  background-color: #3c5594;
}

strong {
  font-weight: 1200;
  color: #3c5594;
}

a.btn-primary{
  margin-bottom: 50px;
  text-decoration: none;
}

a.btn-primary:hover{
  background-color: #3c5594;
}
