{% block stylesheets %}
{#{% parent() %}#}
<link rel="stylesheet" href="/css/calendar.css">
{% endblock %}

{% block body %}

  <!--
    <div class='demo-topbar'>
        Timeline view resource grouping
    </div>
-->
    {% include 'searchBar.html.twig' %}
    <div id="resultSearch">idfhiuhiughuitrh</div>
    <div id='calendar'></div>

        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['resourceTimeline'],
                    header: {
                        left: 'today prev,next',
                        center: 'title',
                        right: 'resourceTimelineWeek,resourceTimelineMonth'
                    },
                    aspectRatio: 1.6,
                    defaultView: 'resourceTimelineMonth',
                    resourceGroupField: 'building',
                    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                    resources: '/calendar/show/users',
                    events: 'calendar/show/holidays', /* link to the events api php located in apiHolidays.php*/


                });


                calendar.render();


                    $("form").on("submit", search);

                    function search(e) {
                        e.preventDefault();

                        let department = $("#search_user_list_form_department").val();
                        let role = $("#search_user_list_form_roles").val();
                        let firstname = $("#search_user_list_form_firstname").val();
                        let lastname = $("#search_user_list_form_lastname").val();

                        let startDate = calendar.view.currentStart;
                        let endDate = calendar.view.currentEnd;

                        console.log("startdate: " + startDate);
                        console.log("enddate: " + endDate);

                        $.ajax({
                            url: '/search/users',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                startDate: format(startDate),
                                endDate:  format(endDate),
                                department: department,
                                role: role,
                                firstname: firstname,
                                lastname: lastname
                            },
                            success: function(data) {

                                console.log("holidays: " + data[0].holidays);

                                calendar.destroy();
                                //calendar.setEvents(data[0].holidays);
                                //calendar.setResouces(data[0].users);

                                /*calendar.fullCalendar({
                                    'resources': data[0].holidays,
                                    'events': data[0].users
                                });*/

                                calendar = new FullCalendar.Calendar(calendarEl, {
                                    plugins: ['resourceTimeline'],
                                    header: {
                                        left: 'today prev,next',
                                        center: 'title',
                                        right: 'resourceTimelineWeek,resourceTimelineMonth'
                                    },
                                    aspectRatio: 1.6,
                                    defaultView: 'resourceTimelineMonth',
                                    resourceGroupField: 'building',
                                    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                                    resources: data[0].users,
                                    events: data[0].holidays /* link to the events api php located in apiHolidays.php*/
                                });

                                calendar.render();

                                $('#resultSearch').text(data[0].count_result + "Result found in the database.");
                            }
                        });
                    };
                    function format(date){
                        let dd = date.getDate();
                        let mm = date.getMonth()+1;
                        let yyyy = date.getFullYear();

                        if(dd<10)
                        {
                            dd='0'+dd;
                        }

                        if(mm<10)
                        {
                            mm='0'+mm;
                        }
                        return dd+"-"+mm+"-"+yyyy;
                    }

            });
                </script>
{% endblock %}

