{% include 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}


{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% include 'Dashboard/navbar.html.twig' %}
{% endif %}

{% if not is_granted('ROLE_ADMIN') %}
  {% include 'Dashboard/dashboardnavbar.html.twig' %}
  <div class="flexdisplay">
  {% include 'Holiday/createHoliday.html.twig' %}
  {% include 'Dashboard/testcal.html.twig' %}
  </div>
{% endif %}
{% if is_granted ('ROLE_MANAGER')%}
{% include 'Holiday/listPending.html.twig'%}
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
  <br>
  <h6><a id="createuser" class="btn-primary" href="user/create">Create new user</a></h6>
  <br>
{% include 'User/userList.html.twig' %}

{% endif %}

{% endblock %}
