{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block body %}
    <div class="bg">
    {% include 'Dashboard/navbar.html.twig' %}

      {% if not is_granted('ROLE_ADMIN') %}
          {% include 'Dashboard/dashboardnavbar.html.twig' %}
          <div class="flexdisplay">
            {% include 'Holiday/createHoliday.html.twig' %}
            {% include 'Dashboard/testcal.html.twig' %}
          </div>
      {% endif %}

      

      {% if is_granted ('ROLE_MANAGER')%}
        {% include 'Holiday/listPending.html.twig'%}
      {% endif %}

     </div>

      {% if is_granted('ROLE_ADMIN') %}
        <h6><a id="createuser" class="btn-primary" href="user/create">Create new user</a></h6>
        <div id="searchBar">
         {% include 'searchBar.html.twig' %}
        </div>
        {% include 'User/userList.html.twig' %}

      {% endif %}
      {#{% include 'User/infoHoliday.html.twig' %}#}

{% endblock %}
