{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <!-- src : https://pixabay.com/images/search/meeting/ -->
        <img class="homeImage" src="/images/homepageimg.jpg">
    </div>
    <div class="">
        <img class="homeLogo" src="/images/Holiday_adrien.png">
    </div>

{% endblock %}