{% extends 'base.html.twig' %}
{% block body %}
    <div class="">
        {% include 'homepage_navbar.html.twig'%}
          
        <img class="homeImage" src="/images/homepagebg.jpeg">
    </div>
{% endblock %}
