{% extends 'base.html.twig' %}

<ul class="list-inline">
  <li class="list-inline-item">HolidayManager SA</li>
  {# it will be implemented after db setup
  {% if is_granted('ROLE_USER') or is_granted('ROLE_MANAGER')}
  #}

  <li class="list-inline-item">Department</li>
  <li class="list-inline-item">Firstname</li>
  <li class="list-inline-item">Lastname</li>

  {% endif %}
  #}

  <li class="list-inline-item">Roles</li>

</ul>
