{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block body %}

<div class="bg">
{% include 'Dashboard/navbar.html.twig' %}


{% include 'Dashboard/dashboardnavbar.html.twig' %}
{% include 'calendarEmployee.html.twig' %}
</div>
{% endblock %}
