{% extends 'base.html.twig' %}

{% block body %}]
<ul class="list-inline">

    <li class="list-inline-item">HolidayManager SA</li>

    {% if not is_granted('ROLE_ADMIN') %}

    <li class="list-inline-item">Department: {{ user.getUsername() }} </li>
    <li class="list-inline-item">Firstname: {{ user.getFirstname() }}</li>
    {% endif %}
    <li class="list-inline-item">Roles:</li>

</ul>

{% endblock %}