<head>
{% include 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="/css/defaultcalendar.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

{% block body %}

<div class="container">

    <div id="datepicker"></div>
    <script>
    $( "#datepicker" ).datepicker();
    </script>

</div>
{% endblock %}
