
{% block stylesheets %}
<link rel="stylesheet" href="/css/calendarView.css">
{% endblock %}

<div class="container" id="viewCalendar">
  <div class="datepicker-container">
    <div id="datapicker-center">
        <div id="datepicker"></div>
        <script>
        $( "#datepicker" ).datepicker();
        </script>
    </div>
  </div>
</div>
