{% for holiday in pending %}
    <div>
        <div>{{ holiday.getUser().getFirstName() }}</div>
        <div>{{ holiday.getUser().getLastname() }}</div>
        <div>{{ holiday.getStartDate() }}</div>
        <div>{{ holiday.getEndDate() }}</div>
        <div><a href="">accept</a></div>
        <div><a href="">cancel</a></div>
    </div>
{% endfor %}