<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activation account</title>
</head>
<body>
    <h1>Activation account</h1>
    <p>Welcome {{ user.getUsername() }} follow the link above for activate your account</p>
    <
    <a href="{{ url('activate_user', {'token': user.getActivationToken()}) }}">click here for activate</a>
</body>
</html>