{% extends 'base.html.twig' %}
{% if is_granted(ROLE_USER) or is_granted(ROLE_MANAGER) %}

<h5>Dear {{user.getUsername()}}, </h5>
<br>
<p>Your Account has been successfully activated!</p>
<br>
<p>Go to <a href="{{url('login')}}">Login</a></p>

{% endif %}
