  {% extends 'base.html.twig' %}

  {% block stylesheets %}
  <link rel="stylesheet" href="/css/user.css">
  {% endblock %}

  {% block body %}

   <div class="bg" >
     <div class="container">
      <h5 class="h5style">New user created.</h5>
      <p>The user <span>{{user.getUsername()}}</span> has been successfully created.</p>
      <p>An email to activate the account will be sent to <span>{{user.getEmail()}}</span>.</p>

      <h6><a class="btn-primary" href="{{path('dashboard')}}">Go to dashboard</a></h6>
    </div>
   </div>
  {% endblock %}
