{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}

<div class="bg">
  <div class="container">
<p>The user account of <span>{{ user.getUsername() }} </span> has been deleted.</p>
<br>
<a class="btn-primary" href="{{ path('dashboard') }}">Go to dashboard</a>
  </div>
</div>

{% endblock %}
