{% extends 'base.html.twig' %}

{% block title %}Delete User error{% endblock %}
{% block body %}The User that you try to delete don't exist. Please try again with a correct user.
    <a href="{{ path('dashboard') }}">Go to dashboard</a>
{% endblock %}