{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block body %}

<div class="bg">
  <div class="container">
    <p> The User you tried to delete doesn't exist. Please try again with a correct username.</p>
    <a class="btn-primary" href="{{ path('dashboard') }}">Go to dashboard</a>
  </div>
</div>

{% endblock %}
