{% extends 'base.html.twig' %}
{% block title %}Insert email for Reset Password{% endblock %}
{% block body %}
    <h1>Insert email for Reset Password</h1>
    {{ form(resetPasswordEmailForm) }}
{% endblock %}