{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/password.css">
{% endblock %}

{% block body %}

 <div class="bg" >
   <div class="container">
    <h5 class="h5style">A reset link sent</h5>
    <p>We have just sent you an email with a reset link.</p>
    <p> Check your email.</p>
    <br>
    <h6><a class="btn-primary" href="/login">Back to login</a></h6>
  </div>
 </div>
{% endblock %}
