{% extends 'base.html.twig' %}

{%  block title %}Successfull Restore Password{% endblock %}

{% block body %}
    <h1>Email Restore Password</h1>
    <p>One email with reset link has sent the user {{ user.getUsername() }} and email {{ user.getEmail() }}</p>
{% endblock %}