{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/password.css">
{% endblock %}

{% block body %}
<div class="bg">
  <div class="container">
  <h5 class="h5style">Please insert your email to reset the password</h5>
  {{ form(resetPasswordEmailForm) }}
  </div>
</div>

{% endblock %}
