{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block body %}
    <div class="bg" >
      <div class="container">
       <h5 class="h5style">Something went wrong.</h5>
       <p>The password reset has been failed.</p>
       <p>Please try it again.</p>
       <br>
       <h6><a class="btn-primary" href="/login">Back to login</a></h6>
     </div>
    </div>

{% endblock %}
