{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/password.css">
{% endblock %}

{% block body %}
<div class="bg">
  <div class="container">
    <h5 class="h5style">Confirm new Password</h5>
    {{ form(formRestorePass) }}
  </div>
</div>
{% endblock %}
