<div class="container">
  <div class="holidayInfoContainer">
      <h5 class="h5style">Holiday Status {{ "now"| date("Y") }}</h3>
      <div class="holidayInfoCol">
          Holiday Spent
          <div class="holidayInfoValue"> <span class="dayscolor">{{ infoHoliday.holidaySpent }}</span></div>
      </div>
      <div class="holidayInfoCol">
          Upcoming Holidays
          <div class="holidayInfoValue"><span class="dayscolor">{{ infoHoliday.holidayInProgram }}</span></div>
      </div>
      <div class="holidayInfoCol">
          Holiday Left
          <div class="holidayInfoValue" id="holidayLeft"><span class="dayscolor">{{ infoHoliday.holidayLeft }}</span></div>
      </div>
      
  </div>

</div>
