<div class="container">
  <div class="holidayInfoContainer">
      <h5 class="h5style">Holiday Status {{ "now"| date("Y") }}</h3>
      <div class="holidayInfoCol">
          Holiday Spent
          <div class="holidayInfoValue">{{ infoHoliday.holidaySpent }}</div>
      </div>
      <br>
      <div class="holidayInfoCol">
          Upcoming Holidays
          <div class="holidayInfoValue">{{ infoHoliday.holidayInProgram }}</div>
      </div>
      <br>
      <div class="holidayInfoCol">
          Holiday Left
          <div class="holidayInfoValue" id="holidayLeft">{{ infoHoliday.holidayLeft }}</div>
      </div>
      <br>
  </div>

</div>
