<div class="holidayInfoContainer">
    <h3>holiday Status {{ "now"| date("Y") }}</h3>
    <div class="holidayInfoCol">
        <h4>Holiday Spent</h4>
        <div class="holidayInfoValue">{{ infoHoliday.holidaySpent }}</div>
    </div>
    <div class="holidayInfoCol">
        <h4>Holiday in Program</h4>
        <div class="holidayInfoValue">{{ infoHoliday.holidayInProgram }}</div>
    </div>
    <div class="holidayInfoCol">
        <h4>Holiday Left</h4>
        <div class="holidayInfoValue">{{ infoHoliday.holidayLeft }}</div>
    </div>
    <div class="holidayInfoCol"></div>
    <div class="holidayInfoCol"></div>
</div>