{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}

 <div class="bg" >
   <div class="container">
    <h5 class="h5style">New password has been updated.</h5>
    <p>The new password for <span>{{user.getUsername()}}</span> has been successfully saved.</p>
    <h6><a class="btn-primary" href="{{path('dashboard')}}">Go to dashboard</a></h6>
  </div>
 </div>
{% endblock %}
