{% extends 'base.html.twig' %}

{%  block title %}Successfull Restore Password{% endblock %}

{% block body %}
<h1>Password Restored with success</h1>
    <p>the password for the user {{ user.getUsername() }} has changed with success.</p>
    <a href="{{ path("app_login") }}">Go to Login</a>
{% endblock %}