{% include 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/password.css">
{% endblock %}

{% block body %}

<div class="bg">
  <div class="container">
  <h5 class="h5style">Password Restored with success</h5>
    <p>The password for <strong>{{ user.getUsername() }}</strong> has been successfully changed.</p>
    <a class="btn-primary" href="{{ path("app_login") }}">Go to Login</a>
  </div>
</div>
{% endblock %}
