{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}

 <div class="bg" >
   <div class="container">
    <h5 class="h5style">Password updated</h5>
    <br>
    <p>The password for <span>{{ user.getUsername() }}</span> has been successfully changed.</p>
    <br>
    <h6><a class="btn-primary" href="/login">Back to login</a></h6>
  </div>
 </div>
{% endblock %}
